
html{
    text-align: center;
	background-image:url("https://images3.alphacoders.com/811/thumb-1920-811662.png"); 
	background-size: cover;
	font-family: 'Press Start 2P', cursive;
	font-size: medium;

}
 
 #couleur1{
 	color:#efd807; text-shadow: black 0.1em 0.1em 0.2em
 	border: solid black 2px;
	box-shadow: inset 0 0 1em black, 0em 0 1em red;
	margin-right: 200px;
	margin-left: 200px;
	
 }
footer{

background:#000001;
position:absolute;
text-align: center;
color:#c60800;


bottom:0px;

width:100%;

padding-top:0px;

height:50px;

}
#gif {
	height:300px;
	width:300px;
	margin-top: 100px;
	border: solid #0E2580 1px;
}
	
#couleur2{
	color: #efd807;
}
